main {
  margin-top: 56px;
  min-height: calc(100vh - 56px);
}

.content {
  min-height: calc(100vh - 125px);
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .content-ms-custom {
    margin-left: 200px !important;
  }
}